### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [49]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [50]:
# groupby unique players
groupeddata = purchase_data.groupby(["SN"])

# count unique players
playercount = len(groupeddata)

# put it in dataframe and display it
pc_df = pd.DataFrame(data=[playercount],columns=["Total Amount of Unique Players"])
pc_df

   Total Amount of Unique Players
0                             576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [51]:
# Find total Unique Items
uniqueitems = purchase_data["Item ID"].unique()

# Used to find average price in DF
averageprice = purchase_data["Price"]

# Finding amount of purchases
numpurchases = purchase_data.groupby(["Purchase ID"])

# Used to find total revenue in DF
totalrevenue = purchase_data["Price"]

# Put all above in DF and use the necessary functions on them.
PurchaseSum = pd.DataFrame({
    "Total Unique Items" :[len(uniqueitems)],
    "Average Purchase Price" :[round(averageprice.mean(),2)],
    "Total Number of Purchases" :[len(numpurchases)],
    "Total Revenue" :[sum(totalrevenue)]
})

# Display dollar amounts where necessary.
PurchaseSum = PurchaseSum.style.format({ "Average Purchase Price":'${:,.2f}',"Total Revenue":'${:,.2f}'})
PurchaseSum

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [52]:
# Collects just gender data, counts and genders.
genderdata = groupeddata['Gender'].max().value_counts()

# Finds count and percent of Males
malecount = genderdata['Male']
malepercent = (malecount/playercount)*100

# Females
femcount = genderdata['Female']
fempercent = (femcount/playercount)*100

# and "Other/Non-Disclosed"
othcount = genderdata['Other / Non-Disclosed']
othpercent = (othcount/playercount)*100

# DATAFRAME IT
genderdf = pd.DataFrame({
    "Gender":['Male','Female','Other/Non-Disclosed'],
    "Total Count of Gender" :[malecount,femcount,othcount],
    "Percent" :[malepercent,fempercent,othpercent],
})
# Set the index
genderdf = genderdf.set_index('Gender')

# Format Percentage
genderdf = genderdf.style.format({'Percent': '{:,.2f}%'})

# Show DataFrame
genderdf


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [53]:
# Makes a dataframe for each gender
maleonlydf = purchase_data[purchase_data['Gender']=='Male']
femonlydf = purchase_data[purchase_data['Gender']=='Female']
otheronlydf = purchase_data[purchase_data['Gender']=='Other / Non-Disclosed']

# Runs basic calculations for males,
malepurchasecount = maleonlydf['Purchase ID'].count()
maleavgprice = maleonlydf['Price'].mean()
maletotalrev = maleonlydf['Price'].sum()
maleperperson = (maletotalrev/malecount)

# females,
femepurchasecount = femonlydf['Purchase ID'].count()
femavgprice = femonlydf['Price'].mean()
femtotalrev = femonlydf['Price'].sum()
femperperson = (femtotalrev/femcount)

# and "Other/Non-Disclosed"
otherpurchasecount = otheronlydf['Purchase ID'].count()
otheravgprice = otheronlydf['Price'].mean()
othertotalrev = otheronlydf['Price'].sum()
otherperperson = (othertotalrev/othcount)

# DATAFRAME IT
genderdemodf = pd.DataFrame({
    "Gender":['Male','Female','Other/Non-Disclosed'],
    "Total Purchases":[malepurchasecount,femepurchasecount,otherpurchasecount],
    "Average Price":[maleavgprice,femavgprice,otheravgprice],
    "Total Revenue":[maletotalrev,femtotalrev,othertotalrev],
    "Avg Price/Gender":[maleperperson,femperperson,otherperperson]

 })
# Sets index
genderdemodf = genderdemodf.set_index('Gender')

# Formats dollar amounts.
genderdemodf = genderdemodf.style.format({'Average Price': '${:,.2f}','Total Revenue': '${:,.2f}','Avg Price/Gender': '${:,.2f}'})
genderdemodf

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [54]:

# Takes age and screennames from original dataframe
datatobin = pd.DataFrame([purchase_data['SN'],purchase_data['Age']]).transpose()

# drops duplicate screennames in new dataframe
datatobin.drop_duplicates('SN', keep='first', inplace=True)

# binrange starts at 10 and is incrimented by multiples of 5 starting at 0 and going up to 5*7 (35)
binrange = [10 + (5*i) for i in range(7)]
 
# sets the bins, beginning at 0 and each incriment in binrange above and ending at 200
bins = [0]+binrange+[200]

# Bin labels, should be self explanitory.
labels = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','+40']

# bins data into a table called AgeRanges
AgeRanges = pd.cut(datatobin['Age'], bins = bins, labels = labels)

# Copies original DataFrame and adds "AgeRanges to it"
binnedpd = purchase_data
binnedpd['AgeRanges'] = AgeRanges

# Groups by the bins for counts and does the calculations to for final dataframe
groupedbin = binnedpd.groupby(["AgeRanges"])
binnedcount = groupedbin['SN'].count()
agepercent = (binnedcount / playercount)*100

# DATAFRAME IT
agedf1 = pd.DataFrame({"Total Count":binnedcount,
                      "Percentage of Players":agepercent})
# Formats "percentage of players" as a percent.
agedf1["Percentage of Players"] = agedf1["Percentage of Players"].map("{:.2f}%".format)
agedf1

           Total Count Percentage of Players
AgeRanges
<10                 24                 4.17%
10-14               41                 7.12%
15-19              150                26.04%
20-24              232                40.28%
25-29               59                10.24%
30-34               37                 6.42%
35-39               26                 4.51%
+40                  7                 1.22%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [55]:
### For some reason I'd binned the same stuff to a different dataframe, 
#### completely unnecessary, left in and commented out to show thought process.

## binrange = [10 + (5*i) for i in range(7)]
## bins = [0]+binrange+[200]
## labels = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','+40']
## AgeRanges = pd.cut(binnedpd['Age'], bins = bins, labels = labels)
## binnedPA = binnedpd
## binnedPA['AgeRanges'] = AgeRanges

# Takes data from existing bins and creates dataframes for each age range.
lessthan10df = binnedpd[binnedpd['AgeRanges']=='<10']
tentofourteendf = binnedpd[binnedpd['AgeRanges']=='10-14']
fifteentonineteendf = binnedpd[binnedpd['AgeRanges']=='15-19']
twentytotwentyfourdf = binnedpd[binnedpd['AgeRanges']=='20-24']
twentyfivetotwentyninedf = binnedpd[binnedpd['AgeRanges']=='25-29']
thirtytothirtyfourdf = binnedpd[binnedpd['AgeRanges']=='30-34']
thirtyfivetothirtyninedf = binnedpd[binnedpd['AgeRanges']=='35-39']
overfortydf = binnedpd[binnedpd['AgeRanges']=='+40']

# Basic Calculations for age groups are as follows

# Less than 10 years old
lessthan10pc = lessthan10df['Purchase ID'].count()
lessthan10avp = lessthan10df['Price'].mean()
lessthan10tr = lessthan10df['Price'].sum()
lessthan10pp = (lessthan10tr/lessthan10df['AgeRanges'].count())

# Ages 10 to 14
tentofourteenpc = tentofourteendf['Purchase ID'].count()
tentofourteenavp = tentofourteendf['Price'].mean()
tentofourteentr = tentofourteendf['Price'].sum()
tentofourteenpp = (tentofourteentr/tentofourteendf['AgeRanges'].count())

# Ages 15 to 19
fifteentonineteenpc = fifteentonineteendf['Purchase ID'].count()
fifteentonineteenavp = fifteentonineteendf['Price'].mean()
fifteentonineteentr = fifteentonineteendf['Price'].sum()
fifteentonineteenpp = (fifteentonineteentr/fifteentonineteendf['AgeRanges'].count())

# Ages 20 to 24
twentytotwentyfourpc = twentytotwentyfourdf['Purchase ID'].count()
twentytotwentyfouravp = twentytotwentyfourdf['Price'].mean()
twentytotwentyfourtr = twentytotwentyfourdf['Price'].sum()
twentytotwentyfourpp = (twentytotwentyfourtr/twentytotwentyfourdf['AgeRanges'].count())

# Ages 25 to 29
twentyfivetotwentyninepc = twentyfivetotwentyninedf['Purchase ID'].count()
twentyfivetotwentynineavp = twentyfivetotwentyninedf['Price'].mean()
twentyfivetotwentyninetr = twentyfivetotwentyninedf['Price'].sum()
twentyfivetotwentyninepp = (twentyfivetotwentyninetr/twentyfivetotwentyninedf['AgeRanges'].count())

# Ages 30 to 34
thirtytothirtyfourpc = thirtytothirtyfourdf['Purchase ID'].count()
thirtytothirtyfouravp = thirtytothirtyfourdf['Price'].mean()
thirtytothirtyfourtr = thirtytothirtyfourdf['Price'].sum()
thirtytothirtyfourpp = (thirtytothirtyfourtr/thirtytothirtyfourdf['AgeRanges'].count())

# Ages 35 to 39
thirtyfivetothirtyninepc = thirtyfivetothirtyninedf['Purchase ID'].count()
thirtyfivetothirtynineavp = thirtyfivetothirtyninedf['Price'].mean()
thirtyfivetothirtyninetr = thirtyfivetothirtyninedf['Price'].sum()
thirtyfivetothirtyninepp = (thirtyfivetothirtyninetr/thirtyfivetothirtyninedf['AgeRanges'].count())

# Anyone over 40
overfortypc = overfortydf['Purchase ID'].count()
overfortyavp = overfortydf['Price'].mean()
overfortytr = overfortydf['Price'].sum()
overfortypp = (lessthan10tr/overfortydf['AgeRanges'].count())


# DATAFRAME ALL THAT DATA
PADF = pd.DataFrame({
    "Age Range":['<10','10-14','15-19','20-24','25-29','30-34','35-39','+40'],
    "Total Purchases":[lessthan10pc,tentofourteenpc,fifteentonineteenpc,twentytotwentyfourpc,twentyfivetotwentyninepc,thirtytothirtyfourpc,thirtyfivetothirtyninepc,overfortypc],
    "Average Price":[lessthan10avp,tentofourteenavp,fifteentonineteenavp,twentytotwentyfouravp,twentyfivetotwentynineavp,thirtytothirtyfouravp,thirtyfivetothirtynineavp,overfortyavp],
    "Total Revenue":[lessthan10tr,tentofourteentr,fifteentonineteentr,twentytotwentyfourtr,twentyfivetotwentyninetr,thirtytothirtyfourtr,thirtyfivetothirtyninetr,overfortytr],
    "Avg Price/Age Range":[lessthan10pp,tentofourteenpp,fifteentonineteenpp,twentytotwentyfourpp,twentyfivetotwentyninepp,thirtytothirtyfourpp,thirtyfivetothirtyninepp,overfortypp]

 })
# Sets "Age Range" field as the index.
PADF = PADF.set_index('Age Range')

# Formats currency where necessary
PADF = PADF.style.format({'Average Price': '${:,.2f}','Total Revenue': '${:,.2f}','Avg Price/Age Range': '${:,.2f}'})
PADF

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [56]:
# Makes a dataframe from starter DF but only takes the Screenname and Price data.
fortopspender = pd.DataFrame([purchase_data['SN'],purchase_data['Price']]).transpose()

# Basic Calculations
topspendertotal = purchase_data.groupby(["SN"]).sum()["Price"]
topspendercount = purchase_data.groupby(["SN"]).count()["Price"]
topspenderavg = purchase_data.groupby(["SN"]).mean()["Price"]

# DATAFRAME IT
topspenderchart = pd.DataFrame({
     "Purchase Count":topspendercount,
     "Average Purchase Price":topspenderavg,
     "Total Purchase Value":topspendertotal
})

# Reset index to drop and sort the index then sets the index back to SN
topspenderchart = topspenderchart.reset_index()
topspenderchart.drop_duplicates("SN",inplace=True)
topspenderchart.sort_values("Total Purchase Value",ascending=False,inplace=True)
topspenderchart = topspenderchart.set_index('SN')

# Assigns the head of the topspenderchart to a different dataframe
## this allows the head to be styled and given monetary formatting using the Styler feature in Pandas
### While only showing the head or preview of the data, and maintains original data.

topspenderhead = topspenderchart.head()
topspenderhead = topspenderhead.style.format({"Average Purchase Price": '${:,.2f}',"Total Purchase Value": '${:,.2f}'})
topspenderhead

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [57]:
# Makes a dataframe from starter DF but only takes the Item ID, Item Name, and Price data.
popularitemsdf = pd.DataFrame([purchase_data['Item ID'],purchase_data['Item Name'],purchase_data['Price']]).transpose()

# Basic Calculations
totalpurchasevalue = popularitemsdf.groupby(['Item ID']).sum()["Price"]
purchasecount = popularitemsdf.groupby(['Item ID']).count()["Price"]

# DATAFRAME IT
mpi_df = pd.DataFrame({
    "Item ID":popularitemsdf['Item ID'],
    "Item Name":popularitemsdf['Item Name'],
    "Purchase Count":purchasecount,
    "Item Price":popularitemsdf['Price'],
    "Total Purchase Value":totalpurchasevalue
})

# Drops duplicates from "Item ID" and "Item Name"
mpi_df.drop_duplicates("Item ID",inplace=True)
mpi_df.drop_duplicates("Item Name",inplace=True)

# Sorts by "Purchase Count"
mpi_df.sort_values("Purchase Count",ascending=False,inplace=True)

# Sets the index as "Item ID" AND "Item Name"
mpi_df = mpi_df.set_index(["Item ID", "Item Name"])

# Creates another dataframe to be used in the next section
profit_df = mpi_df

# Assigns the head of the mpi_df to a different dataframe
## this allows the head to be styled and given monetary formatting using the Styler feature in Pandas
### While only showing the head or preview of the data, and maintains original data.

mpi_dfhead = mpi_df.head()
mpi_dfhead = mpi_dfhead.style.format({"Item Price": '${:,.2f}',"Total Purchase Value": '${:,.2f}'})
mpi_dfhead

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [58]:
# resorts the dataframe made in previous step by "Total Purchase Value"
profit_df.sort_values("Total Purchase Value",ascending=False,inplace=True)

# Assigns the head of the profit_df to a different dataframe
## this allows the head to be styled and given monetary formatting using the Styler feature in Pandas
### While only showing the head or preview of the data, and maintains original data.
profit_dfhead = profit_df.head()
profit_dfhead = profit_dfhead.style.format({"Item Price": '${:,.2f}',"Total Purchase Value": '${:,.2f}'})
profit_dfhead